@media screen and (min-width: 1000px) {

#hamburgerBtn {
    display: none;
}

.topofheader {
    display: flex;
    flex: 1 1 auto;
}

#primaryNav { 
display: flex; 
align-self: flex-end;
margin-right: -1vw; 
}

#primaryNav a {
    border: none;
    color: black; 
    font-size: 1.25rem;
}

.socialmedia {
    margin-left: 25px;
    margin-left: 2vw;
}

#bottomofheader {
    box-sizing: border-box;
    width: 98%;
}

main {
    grid-template-columns: 1fr 2fr 1fr;  
}

.event {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    margin-left: 5px;
}

.event div {
    max-width: 75%;
    margin: 80px auto 0 auto;
}

.callaction {
    grid-column: 2/3;
    grid-row: 1/3;
}


.callaction h2 {
    margin-left: 50px;
}


.callaction img {  
   width: 100%;
   height: 100%;
}

.newsrelease {
    grid-column: 2/3;
    grid-row: 3/4;
    background: #Bf6e50;
}

.spotlight {
    grid-column: 3/4;  
    grid-row: 1/4;
    padding: 0;
}

.spotlight_container {
    flex-direction: column;
    padding: 5px;
}

.spotlight_container div {
    margin: 0;
    padding: 22px;
}

.spotlight_container div:nth-of-type(3){
    display: block;
}

.weather {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    padding: 0;
    border: 3px solid #4A95cf;
}


.join {
    grid-column: 1/2;
    grid-row: 3/4;
}

.join button {
    width: 100%;
}

.join p {
    max-width: 100%;
}

div .info1 {
    margin-left: 60px; 
}

.info2 {
    margin-right: 100px;
}

.logo2 {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
    margin: 0px 10px;
}

#lastMod {
    margin: 0;
    font-size: 20px;
}


/* Discover Page CSS*/

.photo_gallery {
    justify-content: space-around;
}

.photo_gallery figure {
    margin-top: 30px;
}

.photo_gallery img {
    width: 90%;
}

.article {
    padding: 70px;
}

/* JOIN PAGE CSS */

.benefits {
    display: grid; 
    grid-template-columns: 200px 1fr;
    align-items: center;
}

.benefits ul {
    margin-top: 23px;
    border-left: 3px solid #4A95cf;
}

.benefits ul li {
    display: inline;
    margin: 0 10px;
    
}

/* THANK YOU PAGE CSS */

main section.thankyou-container {
    width: 75vw;
}

main section.thankyou-container h1 {
    text-align: left;
}

/* DIRECTORY PAGE CSS*/

.card-wrapper {
    width: 100vw;
}

.cards {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.checkbox:checked ~ .cards {
    width: 95%;
}

.checkbox:checked ~ .cards .business {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    height: 200px;
}

.checkbox:checked ~ .cards .business p:nth-of-type(2), .checkbox:checked ~ .cards .business p:nth-of-type(1) {
    display: block;
} 

.checkbox:checked ~ .cards .business p:nth-of-type(1) {
    text-align: left;
}

.checkbox:checked ~ .cards .business h2 {
    font-size: 1.3rem;
}

.checkbox:checked ~ .cards .business p {
    font-size: 1.15rem;
}

.wireframes {
    flex-direction: row;
}

.wireframes a {
    padding: 10px 10px 0 10px;
}

.dir-footer {
    flex-direction: column;
}

.dir-footer div:nth-child(2) {
    display: flex;
    margin: 0;
    align-items: center;
}

.dir-footer div:nth-child(2) > p {
    line-height: 1rem;
    margin-right: 2vw;
}

}

